 body{
	 font-style: italic;
	 text-align: center;
	 color: red;
 }
 
  /* <style>
    .my_Style{
   background-color: black;
   color: yellow;
   text-decoration: underline
   font_weight: bold;
   font-size: larg;
   }
   <p class="My_Style"> This paragraph is written in my style!</p>
   */
   
